<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>zion</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<description>通过getServletContext().getInitParameter("XX")读取参数</description>
		<param-name>character</param-name>
		<param-value>utf-8</param-value>
	</context-param>
	
	<!-- Servelt 配置 -->
	<!-- Servlet的使用方法 -->
	<servlet>
		<servlet-name>servletDemo01</servlet-name>
		<servlet-class>com.zion.servlet.demo.ServletDemo01</servlet-class>
		<init-param>
			<description>通过getServletConfig().getInitParameter("XX")读取参数</description>
			<param-name>name</param-name>
			<param-value>zion</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletDemo01</servlet-name>
		<url-pattern>/servlet/servletDemo01</url-pattern>
	</servlet-mapping>
	
	<!-- 配置一个过滤器过滤掉Struts2的过滤器
		有两种方法,一种是写一个过滤器,继承StrutsPrepareAndExecuteFilter
		另一种是修改Struts2的xml文件,添加
		<constant name="struts.action.excludePattern" value="/servlet/.*"/>语句
	<filter>
		<filter-name>filterStruts2</filter-name>
		<filter-class>com.zion.servlet.demo.SkipStruts2Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filterStruts2</filter-name>
		<url-pattern>/servlet/*</url-pattern>
	</filter-mapping>
 	-->
 	
	<!-- 添加Struts2的Filter文件 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 添加Spring的配置文件-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

</web-app>