<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 如果只使用depends-on,property不指定的话,类则没有加载进去 -->
	<bean id="person" class="com.zion.ssh.demo.Person" depends-on="book">
	     <property name="name" value="zhangsan"></property>
	     <property name="book" ref="book"></property>
	</bean>
    <bean id="book" class="com.zion.ssh.demo.Book">
        <property name="name" value="java" />
    </bean>
    
    
    <bean name="checkLogin" class="com.zion.ssh.demo.CheckLoginAction"/>
    
</beans>