<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="book" class="com.zion.ssh.demo.Book">
        <property name="name" value="java" />
    </bean>
    
	<bean id="person" class="com.zion.ssh.demo.Person" >
	     <property name="name" value="zhangsan"></property>
	     <property name="book" ref="book" ></property>
	</bean>

</beans>