<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    
    <!-- 使用注解进行自动匹配 -->
   	<context:component-scan base-package="com.zion.spring.learn" />
    <context:annotation-config/>
      
    <!-- 
    <bean name="book1" class="com.zion.spring.learn.Book">
    	<property name="name" value="cobol"></property>
    </bean>
    <bean name="book2" class="com.zion.spring.learn.Book">
    	<property name="name" value="cobol2"></property>
    </bean> -->
    
    <bean name="user" class="com.zion.spring.learn.User"/>
        
    <!-- 自动装配 
    <bean name="book" class="com.zion.spring.learn.Book">
    	<property name="name" value="java"/>
    </bean>    
    <bean name="b1" class="com.zion.spring.learn.Book">
    	<property name="name" value="C++"></property>
    </bean>     
     
    <bean name="user" class="com.zion.spring.learn.User" autowire="byName">
    
    </bean> -->   
    
    <!-- 集合装配     
    <bean name="userDao" class="com.zion.spring.learn.UserDao">
    	<property name="list">
    		<list>
    			<value>List1</value>
    			<value>list2</value>
    		</list>
    	</property>
    </bean>    -->
        
    <!-- Scope 属性范围  singleton 是默认的
    <bean name="book" class="com.zion.spring.learn.Book" scope="prototype">
    	<property name="name" value="java"/>
    </bean>      -->
    
        
    <!-- 将ID属性换为Name属性
    <bean name="book" class="com.zion.spring.learn.Book">
    	<property name="name" value="java"/>
    </bean>    
    
    <bean id="user" class="com.zion.spring.learn.User">
    	<constructor-arg ref="book"/>
    </bean>	-->
            
    <!-- 通过构造方法加载属性
    <bean id="book" class="com.zion.spring.learn.Book">
    	<property name="name" value="java"/>
    </bean>    
    
    <bean id="user" class="com.zion.spring.learn.User">
    	<constructor-arg ref="book"/>
    </bean>	-->
     
    <!-- HelloWorld
	<bean id="user" class="com.zion.spring.learn.User">
		<property name="username" value="zion"></property>
	</bean>	-->
</beans>